<div class="row mx-auto" >
    <div class="col-lg-8 img">
        <div class="logo d-flex">
            <img src="../../assets/images/logo.svg" >
            <h4>LawTrax</h4>
        </div>
        <img src="../../assets/images/login-v2.svg" class="cover">
    
    </div>
    <div class="col-lg-4 col-12 sideform">
       
        <!-- <div class="block p-4 row">
            <div class="col-11">
                <p>Admin: lawtrax@gmail.com</p>
            <p>Attorney: dwarakanathchandu@gmail.com</p>
            <p>Employer: shashi.arra@gmail.com</p>
            <p>Paralegal: shashi17.com@gmail.com</p>
            <p>Beneficiary: rajesh.p.kumar25@gmail.com</p>              
           </div>
           

            <div class="col-1">
              <span tabindex="0" data-placement="left" data-toggle="tooltip" title="Disabled tooltip">
                <svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
              </svg>
             </span>
            </div>
              
        </div> -->
        <form>
            <div class="mb-3">
                <h1 class="text-dark text-muted">Email Verification</h1>
                <p>An email has been sent to your email id. Please verify by your email.</p>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <button routerLink="/login" style="text-decoration: none;">Back to Login</button>
                </div>
            </div>
        </form>
      


<router-outlet></router-outlet>
<!-- <div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h1 class="text-dark text-muted">Email Verification</h1>
                            <p>An email has been sent to your email id. Please verify by your email.</p>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <a routerLink="/login" style="text-decoration: none;">Back to <span routerLink="/login">Login</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<router-outlet></router-outlet> -->


